main {
  display: block;
  padding: 50px 20px;
}

h3 {
  margin-top: 0;
}

.form-block {
  padding: 20px;
}

input[type=text]:not(.browser-default) {
  padding: 0 5px;
  box-sizing: border-box;
}

input[type=text]:not(.browser-default)::placeholder {
  color: #000;
}

.select-wrapper {
  input.select-dropdown {
    background-color: #f5f5f5;
    color: #000;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .caret {
    z-index: 1;
  }
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn[type='submit'] {
  width: 100%;
}

ul.options {
  display: flex;
  margin: 0 -5px;

  a {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

table.table {
  border-collapse: separate;
  border-spacing: 10px;

  th {
    text-align: center;
    font-weight: 400;
  }

  tbody tr td:not(:last-child) {
    background-color: #f5f5f5;
    color: #000;
    padding: 5px;
  }

  tbody tr td:last-child {
    padding: 5px;
  }

  tr:not(.completed) {
    ul.options .btn.btn-done {
      background: transparent !important;

      i {
        display: none;
      }
    }
  }
  tr.completed {
    td:not(:last-child) {
      background-color: #b7eead;
    }
    ul.options .btn.btn-delete {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
